@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.navbar-brand{
  font-family: 'Playfair Display', serif!important;
  font-weight: bold;
  font-size: 50px;
  padding-left:10px;
}
#item{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin-top: 23px!important;
    text-decoration: none;
}

#item1{
  font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin-top: 23px!important;
    margin-right: 10px;
    text-decoration: none;
}

#font{
  font-family: 'Dancing Script', cursive;
}

#login{
  font-family: 'Dancing Script', cursive;
}
#toast-container{
  top:30px !important;
  right:20px !important;
  left:auto !important
}

#product{
  font-family: 'Lobster', cursive!important;
}
